<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-1 custom-border-right p-1 text-center">
        <img src="assets/products.png" width="85px" height="85px"/>
    </div>
    <!--Détail article-->
    <div class="col-md-5 custom-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="blue-color fa-solid fa-circle-info"></i></div>
                <div class="col-md-10">Nom</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="blue-color fa-solid fa-circle-info"></i></div>
                <div class="col-md-10">Prénon</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="blue-color fas fa-phone-alt"></i></div>
                <div class="col-md-10">0033611223344</div>
            </div>
        </div>
    </div>
    <!--Détail commande-->
    <div class="col-md-3 custom-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="blue-color fas fa-qrcode"></i></div>
                <div class="col-md-10">CMD-123456789</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="blue-color fas fa-calendar-check"></i></div>
                <div class="col-md-10">12.06.2022</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="blue-color fas fa-cart-arrow-down"></i></div>
                <div class="col-md-10">LIVREE</div>
            </div>
        </div>
    </div>
    <!--Boutons d'actions-->
    <div class="col-md-3 mb-1 mt-1">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-link">
                    <i class="fas fa-pencil-alt blue-color"></i>&nbsp; Modificer
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-link">
                    <i class="fas fa-trash-alt blue-color"></i>&nbsp; Supprimer
                </button>
            </div>
        </div>
    </div>
</div>