<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-1 custom-border-right p-1 text-center">
        <img src="assets/products.png" width="85px" height="85px"/>
    </div>
    <!--Détail article-->
    <div class="col-md-5 custom-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="blue-color fa-solid fa-circle-info"></i></div>
                <div class="col-md-10">Code article</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="blue-color fa-solid fa-circle-info"></i></div>
                <div class="col-md-10">Désignation</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="blue-color fa-solid fa-dollar-sign"></i></div>
                <div class="col-md-10">Prix HT</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="blue-color fa-solid fa-dollar-sign"></i></div>
                <div class="col-md-10">Prix TTC</div>
            </div>
        </div>
    </div>
    <!--Détail catégorie-->
    <div class="col-md-3 custom-border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-2">
                <i class="blue-color fa-solid fa-flag-checkered"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div>Code catégorie</div>
                    <div>Code catégorie</div>
                </div>
            </div>
        </div>
    </div>
    <!--Boutons d'actions-->
    <div class="col-md-3 mb-1 mt-1">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="fa-solid fa-pencil"></i>&nbsp; Modifier
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="fa-solid fa-trash-can"></i>&nbsp; Supprimer
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="fa-solid fa-list-alt"></i>&nbsp; Détail
                </button>
            </div>
        </div>
    </div>
</div>