<div class="col">
    <div class="row m-3">
        <div class="col-md-8 p-0">
            <h1>Commande client / fournisseur</h1>
        </div>
        <div class="col-md-4 text-right">
            <app-bouton-action></app-bouton-action>
        </div>
    </div>
    <div class="col m-3 pr-5">
        <div class="accordion" id="accordionExample2">
            <div class="card">
              <div class="card-header" id="headingOne2">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                    <app-detail-cmd-clt-frs></app-detail-cmd-clt-frs>
                  </button>
                </h2>
              </div>
              <div id="collapseOne2" class="collapse show" aria-labelledby="headingOne2" data-parent="#accordionExample2" style="max-height: 300px; overflow-y: scroll">
                <div class="card-body">
                    <app-detail-cmd></app-detail-cmd>
                    <app-detail-cmd></app-detail-cmd>
                    <app-detail-cmd></app-detail-cmd>
                    <app-detail-cmd></app-detail-cmd>
                    <app-detail-cmd></app-detail-cmd>
                    <app-detail-cmd></app-detail-cmd>
                    <app-detail-cmd></app-detail-cmd>
                    <app-detail-cmd></app-detail-cmd>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col col-md-6 text-left">
                            <h5>12 articles commandés</h5>
                        </div>
                        <div class="col col-md-6 text-right">
                            <h5>Total commandes : 123,77</h5>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-center">
            <app-pagination></app-pagination>
        </div>
    </div>
</div>